<a href="https://colab.research.google.com/github/tanaymukherjee/ML-in-Bioinformatics/blob/main/Part_1_Bioactivity_Data_Concised.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
import pandas as pd

url = 'https://raw.githubusercontent.com/tanaymukherjee/ML-in-Bioinformatics/main/Datafiles/acetylcholinesterase_01_bioactivity_data_raw.csv'

In [15]:
df = pd.read_csv(url,index_col=0)
print(df.head(5))

                  activity_id activity_properties  ... upper_value  value
activity_comment                                   ...
NaN                     33969                  []  ...         NaN   0.75
NaN                     37563                  []  ...         NaN   0.10
NaN                     37565                  []  ...         NaN  50.00
NaN                     38902                  []  ...         NaN   0.30
NaN                     41170                  []  ...         NaN   0.80

[5 rows x 42 columns]